<div class="profile-card">
  <div class="avatar">
    <img
      src="/assets/imgs/avatar.png"
      alt="avatar"
      class="profile-card__avatar"
    />

    <div class="profile-card__name">
      <strong class="h6">Ryan Gosling</strong>
      <span class="subtitle">ryan.gosling</span>
    </div>
  </div>

  <div class="profile-card__description">
    Ryan Gosling is an American actor, producer, and screenwriter. He is best
    known for his roles in the films Breaking Bad, The 100, and The 400.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">JavaScript</div>
    <div class="skill-tag">TypeScript</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">SCSS</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Follow</button>
  </div>
</div>
